<p id="notice"><%= notice %></p>

<h1>Nodes</h1>

<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="all" /> Check all</th>
      <th>Name</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th>Usable</th>
      <th>Robot in charge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= check_box_tag "nodes[]", node.id %></td>
        <td><%= node.name %></td>
        <td><%= node.x %></td>
        <td><%= node.y %></td>
        <td><%= node.z %></td>
        <td><%= node.usable %></td>
        <td><%= node.robot_id %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<br>

<script type="text/javascript">
$('#all').on('change', function() {
    $('input[type=checkbox').prop('checked', this.checked);
});
</script>
