<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>X:</strong>
  <%= @node.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @node.y %>
</p>

<p>
  <strong>Z:</strong>
  <%= @node.z %>
</p>

<p>
  <strong>Usable:</strong>
  <%= @node.usable %>
</p>
