<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= form_tag destroy_multiple_tasks_path, method: :delete do %>
<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="all" /> Check all</th>
      <th>Task type</th>
      <th>Map</th>
      <th>Node</th>
      <th>Robot</th>
      <th>is Resolved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= check_box_tag "tasks[]", task.id %></td>
        <td><%= task.task_type %></td>
        <% unless task.map.nil? %>
        <td><%= task.map.id %></td>
        <% else %>
        <td><%= %></td>
        <% end %>
        <% unless task.node.nil? %>
        <td><%= task.node.id %></td>
        <% else %>
        <td><%= %></td>
        <% end %>
        <% unless task.robot.nil? %>
        <td><%= task.robot.id %></td>
        <% else %>
        <td><%= %></td>
        <% end %>
        <td><%= task.is_resolved %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Delete selected" %>
<% end %>
<br>

<%= link_to 'New Task', new_task_path %>

<script type="text/javascript">
$('#all').on('change', function() {
    $('input[type=checkbox').prop('checked', this.checked);
});
</script>
