<%= form_with(model: robot, local: true) do |form| %>
  <% if robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :robot_name %>
  </div>

  <div class="field">
    <%= form.label :map_id %>
    <%= form.text_field :map_id, id: :robot_map_id %>
  </div>

  <div class="field">
    <%= form.label :x %>
    <%= form.text_field :x, id: :robot_x %>
  </div>

  <div class="field">
    <%= form.label :y %>
    <%= form.text_field :y, id: :robot_y %>
  </div>

  <div class="field">
    <%= form.label :z %>
    <%= form.text_field :z, id: :robot_z %>
  </div>

  <div class="field">
    <%= form.label :last_conn %>
    <%= form.datetime_select :last_conn, id: :robot_last_conn %>
  </div>

  <div class="field">
    <%= form.label :ip_add %>
    <%= form.text_field :ip_add, id: :robot_ip_add %>
  </div>

  <div class="field">
    <%= form.label :port %>
    <%= form.number_field :port, id: :robot_port %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
