<p id="notice"><%= notice %></p>

<h1>Robots</h1>

<%= form_tag destroy_multiple_robots_path, method: :delete do %>
<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="all" /> Check all</th>
      <th>Name</th>
      <th>Map</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th>Node</th>
      <th>Last conn</th>
      <th>Ip add</th>
      <th>Port</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @robots.each do |robot| %>
      <tr>
        <td><%= check_box_tag "robots[]", robot.id %></td>
        <td><%= robot.name %></td>
        <% unless robot.map.nil? %>
        <td><%= robot.map.name %></td>
        <% else %>
        <td><%= %></td>
        <% end %>
        <td><%= robot.x %></td>
        <td><%= robot.y %></td>
        <td><%= robot.z %></td>
        <td><%= robot.node %></td>
        <td><%= robot.last_conn %></td>
        <td><%= robot.ip_add %></td>
        <td><%= robot.port %></td>
        <td><%= link_to 'Show', robot %></td>
        <td><%= link_to 'Edit', edit_robot_path(robot) %></td>
        <td><%= link_to 'Destroy', robot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<%= submit_tag "Delete selected" %>
<% end %>
<br>

<%= link_to 'New Robot', new_robot_path %>

<script type="text/javascript">
$('#all').on('change', function() {
    $('input[type=checkbox').prop('checked', this.checked);
});
</script>
