<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @robot.name %>
</p>

<p>
  <strong>Map:</strong>
  <% unless @robot.map.nil? %>
  <td><%= @robot.map.name %></td>
  <% else %>
  <td><%= %></td>
  <% end %>
</p>

<p>
  <strong>X:</strong>
  <%= @robot.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @robot.y %>
</p>

<p>
  <strong>Z:</strong>
  <%= @robot.z %>
</p>

<p>
  <strong>Node:</strong>
  <%= @robot.node %>
</p>

<p>
  <strong>Last conn:</strong>
  <%= @robot.last_conn %>
</p>

<p>
  <strong>Ip add:</strong>
  <%= @robot.ip_add %>
</p>

<p>
  <strong>Port:</strong>
  <%= @robot.port %>
</p>

<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
