<%= form_with(model: map, local: true) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :map_name %>
  </div>

  <div class="field">
    <%= form.label :map_file %>
    <%= form.text_field :map_file, id: :map_map_file %>
  </div>

  <div class="field">
    <%= form.label :last_update %>
    <%= form.datetime_select :last_update, id: :map_last_update %>
  </div>

  <div class="field">
    <%= form.label :map_id %>
    <%= form.text_field :map_id, id: :map_map_id %>
  </div>

  <div class="field">
    <%= form.label :node_id %>
    <%= form.text_field :node_id, id: :map_node_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
