<p id="notice"><%= notice %></p>

<h1>Maps</h1>

<%= form_tag destroy_multiple_maps_path, method: :delete do %>
<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="all" /> Check all</th>
      <th>Name</th>
      <th>Map file</th>
      <th>Last update</th>
      <!-- <th>Map</th>
      <th>Node</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= check_box_tag "maps[]", map.id %></td>
        <td><%= map.name %></td>
        <td><%= map.map_file %></td>
        <td><%= map.last_update %></td>
        <td><%= link_to 'Show', map %></td>
        <td><%= link_to 'Edit', edit_map_path(map) %></td>
        <td><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Delete selected" %>
<% end %>
<br>

<%= link_to 'New Map', new_map_path %>

<script type="text/javascript">
$('#all').on('change', function() {
    $('input[type=checkbox').prop('checked', this.checked);
});
</script>
