<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Map file:</strong>
  <%= @map.map_file %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @map.last_update %>
</p>

<p><strong>nodes</strong></p>
<% @map.nodes&.each do |node| %>
  <p>
    <td>
      <%= node.name %>
      <%= node.x %>
      <%= node.y %>
      <%= node.usable %>
      <%= (node.type_a_next_nodes + node.type_b_next_nodes).each do |next_node|%>
      <% end %>
    </td>
  </p>
<% end %>


<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
