<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_type %>
    <%= form.text_field :task_type, id: :task_task_type %>
  </div>

  <div class="field">
    <%= form.label :map_id %>
    <%= form.text_field :map_id, id: :task_map_id %>
  </div>

  <div class="field">
    <%= form.label :node_id %>
    <%= form.text_field :node_id, id: :task_node_id %>
  </div>

  <div class="field">
    <%= form.label :robot_id %>
    <%= form.text_field :robot_id, id: :task_robot_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
