<p id="notice"><%= notice %></p>

<p>
  <strong>Task type:</strong>
  <%= @task.task_type %>
</p>

<p>
  <strong>Map:</strong>
  <%= @task.map %>
</p>

<p>
  <strong>Node:</strong>
  <%= @task.node %>
</p>

<p>
  <strong>Robot:</strong>
  <%= @task.robot %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
