<% provide(:title, 'Help') %>
<% provide(:nav_title, 'ヘルプ') %>
<h1>利用方法</h1>
<hr>
<h2>ナビゲーションバーの各ページについて</h2>
<ol>
<%= image_tag 'navbar-sample.png', :class => 'sample'%>
<li>全体図とは？<br>名古屋工業大学の全体図から情報を見たい建物を選ぶページです。</li>
<li>地図モードとは？<br>あるフロアについて、屋内マップとノードを元に情報を閲覧するページです。<br>情報を容易に把握することを重視したモードです。</li>
<li>一覧モードとは？<br>あるフロアについて、列挙された情報を閲覧するページです。<br>情報を網羅的に把握することを重視したモードです。</li>
<!-- <li>制御モードとは？<br>ロボットを制御するページです。<br>あるフロアについて、特定のエリアにロボットを誘導し情報を収集します。</li> -->
<li>ヘルプとは？<br>このページです。</li>
<li>管理Serverとは？<br>サーバーに蓄積された情報を直接閲覧するためのページです。</li>
</ol>
<hr>
<h2>全体図の使い方</h2>
<ol>
<li>ナビゲーションバーから"全体図"をクリック(タッチ)してください。</li>
<li>情報を見たい建物を囲う赤枠内をクリック(タッチ)してください。</li>
<%= image_tag 'map-sample.png', :class => 'sample' %>
<li>クリック(タッチ)した建物の情報閲覧ページ(地図モード)に移行します。</li>
</ol>
<hr>
<h2>地図モードの使い方</h2>
<ol>
<li>ナビゲーションバーから"地図Mode"をクリック(タッチ)してください。<br>
もしくは、全体図から建物をクリック(タッチ)してください。</li>
<li>地図モードでは注目しているフロアの情報がフロアマップとともに表示されます。<br>
注目しているフロアはナビゲーションバーに表示されます。
<%= image_tag 'floor-name-sample.png', :class => 'sample' %></li>
<li>画面下部にある屋内マップから、情報を見たいノードをクリック(タッチ)してください。
<%= image_tag 'node-sample.png', :class => 'sample' %><br></li>
<li>ノードをクリック(タッチ)すると、クリック(タッチ)したノードとその周りのノードが円で囲われます。
<br>ノードを囲う円の色と同じ色で囲われた画像がノード付近の画像です。
<%= image_tag 'selected-node-sample.png', :class => 'sample' %></li>
<li>注目したい画像があった場合、その画像をクリック(タッチ)してください。<br>新しいタブで詳細情報(より解像度の大きな画像など)に移行します。</li>
<li>紫のトゲで囲われたノードがある場合があります。
<br>そのノードの付近には要救助者がいる可能性が高いです。
<%= image_tag 'warning-node-sample.png', :class => 'sample' %></li>
</ol>
<hr>
<h2>一覧モードの使い方</h2>
<ol>
<li>ナビゲーションバーから"一覧Mode"をクリック(タッチ)してください。<br>
<li>一覧モードでは注目しているフロアの画像が表形式で表示されます。<br>
出発Node・目標Nodeはそれぞれロボットがその画像を取った際の、出発地点と目標地点です。</li>
<%= image_tag 'image-viewer-sample.png', :class => 'sample' %>
<li>情報を並べ替えたい場合(出発ノード・目標ノード・投稿時間)のところにある▲▼を選択してください。<br>それぞれ情報が昇順・降順に並べ替えられます。</li>
<li>情報が25個以上の場合青いバーが表示されます。続きを見る場合にバーを利用してください。</li>
<%= image_tag 'pagination-sample.png', :class => 'sample' %>
<li>注目したい画像があった場合、地図モード同様に画像もしくはDetailsをクリック(タッチ)してください。<br>新しいタブで詳細情報(より解像度の大きな画像など)に移行します。</li>
<!-- </ol>
<h2>制御モードの使い方</h2>
<p>準備中です。</p> -->
