<% provide(:title, 'Home') %>
<% provide(:nav_title, '名古屋工業大学全体図') %>
<div class="nitech_map">
  <%= image_tag 'nitech_map.jpg', :class => 'resize nitech' %>
  <a href='#' onclick='building_clicked(2);'>
    <%= image_tag 'square.png', :size => "75x50", :class => 'nitech_2' %>
  </a>
</div>
<script type="text/javascript">
  function building_clicked(n) {
    console.log("clicked");
    location.href = "<%= map_mode_path %>?trial=<%= @trial %>&floor=" + (n - 1)
  }
</script>
