<p id="notice"><%= notice %></p>

<% provide(:title, 'Image Mode') %>
<% provide(:nav_title, @map.name) %>
<!-- <h1>Images</h1> -->
<%= paginate @images %>
<%= page_entries_info @images %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">画像</th>
      <th class="text-center">出発Node<%= link_to "▲", image_mode_path(trial: @trial, floor: @floor_id, sort: "begin_node", sort_option: "up") %><%= link_to "▼", image_mode_path(trial: @trial, floor: @floor_id, sort: "begin_node", sort_option: "down") %></th>
      <th class="text-center">目標Node<%= link_to "▲", image_mode_path(trial: @trial, floor: @floor_id, sort: "node_id", sort_option: "up") %><%= link_to "▼", image_mode_path(trial: @trial, floor: @floor_id, sort: "node_id", sort_option: "down") %></th>
      <!-- <th>Comment</th> -->
      <!-- <th>Trial</th> -->
      <th class="text-center">投稿時間<%= link_to "▲", image_mode_path(trial: @trial, floor: @floor_id, sort: "created_at", sort_option: "up") %><%= link_to "▼", image_mode_path(trial: @trial, floor: @floor_id, sort: "created_at", sort_option: "down") %></th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td class="text-center">
          <% if image.image? %>
            <div class="thumbnail">
              <%= link_to image_tag(image.image.thumb.url), image, target: "_new" %>
            </div>
          <% end %>
        </td>
        <td class="text-center">Node<%= image.begin_node %></td>
        <% unless image.node.nil? %>
        <td class="text-center"><%= image.node.name %></td>
        <% else %>
        <td><%= %></td>
        <% end %>
        <!-- <td><%= image.comment %></td> -->
        <!-- <td><%= image.trial %></td> -->
        <td class="text-center"><%= image.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td class="text-center"><%= link_to 'Details', image, target: "_new"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @images %>
<%= page_entries_info @images %>
<br>
