<p id="notice"><%= notice %></p>

<% provide(:title, 'Map Mode') %>
<% provide(:nav_title, @map.name) %>
<div class="all">
  <div class="container area1">
      <% @images.each do |image| %>
        <% if image.image? %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p class="resizeimage">
              <div class="thumbnail target">
                <%= link_to image_tag(image.image.thumb.url), image, target: "_new" %>
              </div>
            </p>
          </div>
        <% end %>
      <% end %>
      <% @images_sub.each_with_index do |subs,count| %>
        <% subs.each do |image| %>
          <% if image.image? %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <p class="resizeimage">
                <div class="thumbnail sub<%= count %>">
                  <%= link_to image_tag(image.image.thumb.url), image, target: "_new" %>
                </div>
              </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <div class="area2">
  <!-- 複数マップ対応の際に要修正 -->
    <%= image_tag @map.name+'.png', :class => 'map resize' %>
    <% @nodes.each_with_index do |node,count| %>
      <a href='#' onclick='node_clicked(<%= node.id %>);'>
        <%= image_tag 'position_icon.png', :size => "35x35", :class => 'node node'+(count+1).to_s+' black' %>
        <%= image_tag 'position_icon_red.png', :size => "35x35", :class => 'node node'+(count+1).to_s+' red' %>
      </a>
      <% unless node.usable %>
        <!-- <span class="tooltip"> -->
          <%= image_tag 'warning.png', :size => "60x60", :class => 'node node'+(count+1).to_s %>
        <!-- </span> -->
      <% end %>
    <% end %>
    <%= image_tag 'circle.png', :size => "50x50", :class => 'node node'+ @node.id.to_s%>
    <% (@node.type_a_next_nodes + @node.type_b_next_nodes).each_with_index do |next_node,count| %>
      <%= image_tag ('circle_' + count.to_s + '.png'), :size => "50x50", :class => 'node node'+ next_node.id.to_s %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function node_clicked(n) {
    console.log("clicked");
    location.href = "<%= map_mode_path %>?trial=<%= @trial %>&floor=<%= @floor_id %>&node=" + n;
  }
</script>
