<h1>ManagementServer</h1>
<p>DB集積情報の閲覧ページ</p>
<hr>
<h2><%= link_to "Robots",   robots_path(trial: @trial, floor: @floor_id) %></h2>
<h2><%= link_to "Maps",   maps_path(trial: @trial, floor: @floor_id) %></h2>
<h2><%= link_to "Tasks",   tasks_path(trial: @trial, floor: @floor_id) %></h2>
<h2><%= link_to "Informations",   informations_path(trial: @trial, floor: @floor_id) %></h2>
<h2><%= link_to "Images",   images_path(trial: @trial, floor: @floor_id) %></h2>
