// Place all the styles related to the Informations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resize { height: 100%; width: 100%;}//max-width: 500px;}

.nitech_map {
  position: relative
}

.nitech_2 {position: absolute;
          -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
          top: 48%; left: 64%;}

.area1 {
  float: center;
  height: 60vh;
  overflow: scroll;
  }

.area2 {
  float: center;
  position: relative;
  height: 30vh;
  // bottom: 10px;
  }

.map {
  // position: relative;
}

.target {
  background: #f44336;
}

.waring {
  background: #4A148C;
}

.sub0 {
  background: #2196F3;
}

.sub1 {
  background: #009688;
}

.sub2{
  background: #FF9800;
}



.node {
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
}

.node1 {top: 16%; left: 91%;}
.node2 {top: 16%; left: 81%;}
.node3 {top: 16%; left: 71%;}
.node4 {top: 16%; left: 61%;}
.node5 {top: 16%; left: 55%;}
.node6 {top: 16%; left: 42%;}
.node7 {top: 16%; left: 33%;}
.node8 {top: 47%; left: 55%;}
.node9 {top: 47%; left: 61%;}
.node10 {top: 78%; left: 55%;}
.node11 {top: 78%; left: 61%;}
.node12 {top: 78%; left: 71%;}
.node13 {top: 78%; left: 81%;}
.node14 {top: 78%; left: 91%;}
.node15 {top: 78%; left: 42%;}
.node16 {top: 78%; left: 33%;}
.node17 {top: 58%; left: 33%;}
.node18 {top: 34%; left: 33%;}
.node19 {top: 60%; left: 28%;}
.node20 {top: 65%; left: 18%;}
.node21 {top: 60%; left: 9%;}
.node22 {top: 50%; left: 15%;}

.black:active {z-index: 0;}
.black {z-index: 2;}
.red {z-index: 1;}
.cross {z-index: 3;}

.sample {width: 70vw;}
