<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- 追加箇所 開始 -->
  <div class="field">
    <% if @image.image? %>
      <div class="thumbnail">
        <%= image_tag @image.image.url %>
      </div>
    <% end %><br>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @image.persisted? && @image.image? %>
      <label>
        <%= form.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </div>
  <!-- 追加箇所 終了 -->

  <div class="field">
    <%= form.label :map_id %>
    <%= form.text_field :map_id, id: :image_map_id %>
  </div>

  <div class="field">
    <%= form.label :begin_node %>
    <%= form.text_field :begin_node, id: :image_begin_node %>
  </div>

  <div class="field">
    <%= form.label :node_id %>
    <%= form.text_field :node_id, id: :image_node_id %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :image_comment %>
  </div>

  <div class="field">
    <%= form.label :trial %>
    <%= form.text_field :trial, id: :image_trial %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
