<p id="notice"><%= notice %></p>

<h1>Images</h1>
<%= paginate @images %>
<%= page_entries_info @images %>
<%= form_tag destroy_multiple_images_path, method: :delete do %>
<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="all" /> Check all</th>
      <th>Image</th>
      <th>Map</th>
      <th>Start Node</th>
      <th>Target Node</th>
      <th>Comment</th>
      <th>Trial</th>
      <th>Time Stamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= check_box_tag "images[]", image.id %></td>
        <td>
          <% if image.image? %>
            <div class="thumbnail">
              <%= image_tag image.image.thumb.url %>
            </div>
          <% end %>
        </td>
        <% unless image.map.nil? %>
        <td><%= image.map.name %></td>
        <% else %>
        <td><%= %></td>
        <% end %>
        <td>Node<%= image.begin_node %></td>
        <% unless image.node.nil? %>
        <td><%= image.node.name %></td>
        <% else %>
        <td><%= %></td>
        <% end %>
        <td><%= image.comment %></td>
        <td><%= image.trial %></td>
        <td><%= image.created_at %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Delete selected" %>
<% end %>
<br>
<%= paginate @images %>
<%= page_entries_info @images %>
<br>
<%= link_to 'New Image', new_image_path %>

<script type="text/javascript">
$('#all').on('change', function() {
    $('input[type=checkbox').prop('checked', this.checked);
});
</script>
