<p id="notice"><%= notice %></p>

<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @image.image? %>
    <div class="thumbnail">
      <%= image_tag @image.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->

<p>
  <strong>Map:</strong>
  <% unless @image.map.nil? %>
  <td><%= @image.map.name %></td>
  <% else %>
  <td><%= %></td>
  <% end %>
</p>

<p>
  <strong>Start Node:</strong>
  Node<%= @image.begin_node %>
</p>

<p>
  <strong>Target Node:</strong>
  <% unless @image.node.nil? %>
  <td><%= @image.node.name %></td>
  <% else %>
  <td><%= %></td>
  <% end %>
</p>

<p>
  <strong>Commnet:</strong>
  <%= @image.comment %>
</p>

<p>
  <strong>Trial:</strong>
  <%= @image.trial %>
</p>

<p>
  <strong>Time Stamp:</strong>
  <%= @image.created_at %>
</p>

<p>
  <strong>Update:</strong>
  <%= @image.updated_at %>
</p>



<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
