<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->

  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <!-- <div class="container-fluid"> -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to navbar_title(yield(:nav_title)), root_path(trial: @trial, floor: @floor_id), id: "logo" %>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><%= link_to "全体図",   informations_path(trial: @trial, floor: @floor_id) %></li>
                <li class="nav-item"><%= link_to "地図Mode", map_mode_path(trial: @trial, floor: @floor_id) %></li>
                <li class="nav-item"><%= link_to "一覧Mode", image_mode_path(trial: @trial, floor: @floor_id) %></li>
                <!-- <li class="nav-item"><%= link_to "制御Mode", control_mode_path(trial: @trial, floor: @floor_id) %></li> -->
                <li class="nav-item"><%= link_to "Help", help_path(trial: @trial, floor: @floor_id) %></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          <!-- </div> -->
        </nav>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
